.selectedExerciseScreen{
    display: grid;
    gap: 10px;
    background-color: #fff;
}
.selectedExerciseScreen .header .title{
    text-align: center;
}
.selectedExerciseScreen .header .subtext{
    font-size: .8rem;
    color: var(--gray-500);
}
.selectedExerciseScreen .body .exerciseImgContainer{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: .25rem;
}
.selectedExerciseScreen .body .exerciseImgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.selectedExerciseScreen .createNewSetsBtn{
    display: grid ;
    place-items: center;
}
.selectedExerciseScreen .createNewSetsBtn button{
    border: 1px solid var(--gray-300);
    padding: .5rem 1.5rem;
    border-radius: .15rem;
}