@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'assets/css/newProgramScreen.css';
@import 'assets/css/ExercisePickScreen.css';
@import 'assets/css/ProgramScreen.css';
body {
  margin: 0;
  font-family: -rgb(255 237 213)e-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --orange-100: rgb(255 237 213);
  --orange-200: rgb(254 215 170);
  --orange-300: rgb(253 186 116);
  --orange-400: rgb(251 146 60);
  --orange-500: rgb(249 115 22);
  --orange-600: rgb(234 88 12);
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(229 231 235);
  --gray-300:  rgb(209 213 219);
  --gray-400:  rgb(156 163 175);
  --gray-500:  rgb(107 114 128);
  --gray-600:  rgb(75 85 99);
  --gray-700:  rgb(55 65 81);
  --gray-800:  rgb(31 41 55);
  --gray-900:  rgb(17 24 39);
  --slate-200:  rgb(226 232 240);
  --text-secondary: #75767D;
  --text-primary: #232332;
  --border-md : .5rem;
  --border-sm : .25rem;
  --border-xs : .15rem;

}
.App {
  background-color: #F7F7F7;
  position: relative;
  padding: 1rem;
}
.container{
  max-width: 1200px;
}

/* ### Basics End ### */
/* ######################################################################################################################## */
/* ######################################################################################################################## */
/* ### Screen START ### */
.screen{
  position: relative;
}
@media (min-width: 768px){
  .screen{
    max-width: 768px;
    margin: 0 auto;
    /* background-color: red !important; */
  }
}
.mainScreen-container{
  display: grid;
  gap: 20px;
  position: relative;
}
/* ==================================================================================== */
/* Header Start */
.screen .header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.screen .header .headerCreateProgram{
  background-color: var(--orange-500);
  color: #fff;
  /* padding: 10px 13px; */
  padding: 10px 12px;
  border-radius: var(--border-md);
  display: flex;
  align-items: center;
  will-change: transform;
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.screen .header .headerCreateProgram:hover{
  background-color: var(--orange-600);
}
.screen .header .headerCreateProgram:active{
  transform: scale(.95);
  box-shadow: 0 0 0 3px var(--orange-300);
}
.screen .header .headerCreateProgram:focus-visible{
  box-shadow: 0 0 0 5px var(--orange-300);
}
.screen .header .headerCreateProgram:focus{
  box-shadow: 0 0 0 5px var(--orange-300);
}
/* Header END */
/* ==================================================================================== */
/* Other Programs */
.otherProgramsContainer{
  width: 100%;
  overflow: hidden;
}
.otherProgramsContainer .slider {
  display: flex;
  transition: transform .5s ease;
  overflow-x: auto;
  gap: 15px;
}
.otherProgramsContainer .slider > .createNewProgram {
  flex: 0 0 25%;
  background-color: var(--orange-500);
  border-radius: var(--border-md);
  color: #fff;
  display: grid;
  gap: 10px;
  place-items: center;
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}
.otherProgramsContainer .slider > .createNewProgram p{
  font-size: 1rem;
}
.otherProgramsContainer .slider > .card {
  flex: 0 0 60%;
  display: flex;
  border-radius: var(--border-md);
  padding: 5px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.otherProgramsContainer .slider > .card img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.otherProgramsContainer .slider > .card img:first-child {
  border-radius: 5px 0px 0px 5px;
}
.otherProgramsContainer .slider > .card img:last-child {
  border-radius: 0px 5px 5px 0px;
}
.otherProgramsContainer .slider > .card .image-container {
  position: relative;
  display: flex;
  width: 100%;
}
.otherProgramsContainer .slider > .card .image-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 5px;
  background-color: #fff;
}
.otherProgramsContainer .slider > .card .image-container::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 5px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)) ;
}
.otherProgramsContainer .slider > .card .content {
  position: absolute;
  bottom: 10%;
  left: 8%;
  color: #fff;
  z-index: 1;
}
.otherProgramsContainer .slider > .card .content p:first-child {
  font-weight: bold;
}

/* CALENDAR */
.calendar-container {
  width: 100%;
  overflow: hidden;
  display: grid;
  gap: 10px;
}
.calendar-wrapper span{ 
  width: 10px;
  height: 10px;
  border-radius: 100px;
}
.calendar-wrapper > div {
  flex: 1;
  text-align: center;
  padding: 10px 15px;
  display: grid;
  place-items: center;
  gap: 10px;
  border-radius: var(--border-md);
  background-color: #fff;
  border: 2px solid transparent;
}
.calendar-wrapper > div.today {
  border: 2px solid var(--orange-500);
}

/* ######################################################################################################################## */
/* ProgramCard */
.programCard-container{
  display: grid;
  gap: 10px;
}
.programCard-container .programCard{
  display: flex;
  gap: 10px;
}
/* ==================================================================================== */
/* Muscle Parts Start */
.programCard-container .programCard .muscleParts-container{
  background-color:var(--orange-500);
  flex: .35;
  padding: 10px;
  border-radius: var(--border-md);
  display: grid;
  gap: 10px;
}
.programCard-container .programCard .muscleParts-container .muscleParts{
  background-color: #fff;
  border-radius: var(--border-md);
  padding: 10px;
  display: grid;
  place-items: center;
}
.programCard-container .programCard .muscleParts-container .calories{
  color: #fff;
  text-align: center;
  display: grid;
  place-content: center;
}
.programCard-container .programCard .muscleParts-container .calories p:first-child{
  font-size: large;
  font-weight: bold;
}
.programCard-container .programCard .muscleParts-container .calories p:last-child{
  font-size: .8rem;
  color: #FEE3D0;
}
/* Muscle Parts END */
/* ==================================================================================== */

/* ==================================================================================== */
/* Workout Info Start */
.programCard-container .programCard .workoutInfo{
  background-color: #fff;
  border-radius: var(--border-md);
  flex: .65;
  padding: 1rem;
  display: grid;
  gap: 10px;
  max-height: 250px;
  overflow-y: auto;
}
.programCard-container .programCard .workoutInfo .workoutInfo-element{
  display: grid;
  grid-template-columns: 5px 1fr .25fr;
  grid-template-rows: fit-content(100%);
  gap: 10px;
}
.programCard-container .programCard .workoutInfo .workoutInfo-element .color{
  height: 100%;
  width:  5px;
  border-radius: 100px;
}
.programCard-container .programCard .workoutInfo .workoutInfo-element .textContent{
  text-align: left;
  color: var(--text-primary);
}
.programCard-container .programCard .workoutInfo .workoutInfo-element .textContent p:first-child{
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  width: 120px;
  text-overflow: ellipsis;
}
.programCard-container .programCard .workoutInfo .workoutInfo-element .textContent p:last-child{
  font-size: .8rem;
  color: var(--text-secondary);
  white-space: nowrap;
  overflow: hidden;
  max-width: 15ch;
  text-overflow: ellipsis;
}
.programCard-container .programCard .workoutInfo .workoutInfo-element .repSet{
  display: grid;
  place-content: center;
}
.programCard-container .programCard .workoutInfo .workoutInfo-element .repSet p{
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
}
.programCard-container .programCard .workoutInfo .workoutInfo-element .repSet p > span{
  font-size: .8rem;
  color: var(--text-secondary);
  font-weight: normal;
}
/* Workout Info End */
/* ==================================================================================== */
.programCard-container .startWorkoutBtn{
  color: #fff;
  padding: .5rem 0;
  width: 100%;
  border-radius: 100px;
  font-weight: bold;
}
/* ### ProgramCard END ### */
/* ######################################################################################################################## */
/* ######################################################################################################################## */
/* ### Tabbar Start ### */

.tabbar-container{
  position: sticky;
  z-index: 100;
  bottom: 2.5%;
  border-radius: 100px;
  display: flex;
  background-color: var(--text-primary);
  padding: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}
.tabbar-container > div {
  flex:1;
  text-align: center;
  padding: .3rem 0;
}
.tabbar-container button {
  color: #fff;
  font-size: 1.3rem;
}
.tabbar-container #divider{
  position: absolute;
  border-radius: 200px;
  top: var(--divider-top);
  left: var(--divider-left);
  height: var(--divider-height);
  width: var(--divider-width);
  z-index: -1;
  background-color: var(--orange-500);
  will-change: transform;
  transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
}
/* ### Tabbar END ### */
/* ######################################################################################################################## */